beautifulsoup4==4.13.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
Flask==3.1.2
flask-cors==6.0.1
huggingface-hub==0.35.1
lxml==6.0.2
lxml_html_clean==0.4.2
newspaper4k==0.9.3.1
numpy==2.3.3
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.5
sentence-transformers==5.1.1
spacy==3.8.7
stanza==1.10.1
torch==2.8.0

transformers==4.49.0
gunicorn==23.0.0
rank-bm25==0.2.2
